In [1]:
new_students=['lekha','ravi','ramu','balu','madhu']
print(new_students)

['lekha', 'ravi', 'ramu', 'balu', 'madhu']

In [2]:
for student in new_students:
    print(f"thanks every one ,{student.title()}")

thanks every one ,Lekha
thanks every one ,Ravi
thanks every one ,Ramu
thanks every one ,Balu
thanks every one ,Madhu

In [14]:
new_students=['lekha','ravi','ramu','balu','madhu'] 
print(new_students)
for student2 in new_students:
    print('\n  thanks students')

['lekha', 'ravi', 'ramu', 'balu', 'madhu']

  thanks students

  thanks students

  thanks students

  thanks students

  thanks students

In [15]:
type(new_students)

list

In [26]:
numbers=list(range(1,16))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [34]:
even_number = list(range (2,51,2))
print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [35]:
for value in range (1,10):
    print(value)

1
2
3
4
5
6
7
8
9